#header{
    background-color:aqua;
    padding: 20px;
    width:1400px;
    height: 100px;    
    text-align:center;
    color:black;
    border:5px solid black;
} 
#but1
{
    width: 100px;
    height: 30px;
    margin-left: 1200px;
    background-color: salmon;
}
#but1:hover{
    background-color:grey;
}


.btn{
    background-color:salmon;
}   
/* .card{
    display:grid;
    border: 3px solid black;
    background-color:aqua;
    border-radius:20px;
    
} */

 .des{
    width: 300px;
    display:grid;
    border: 3px solid black;
    background-color:aqua;
    border-radius:20px;
 }
 .para{
    text-align: left;
    margin-left: 50px;
    background-color: aqua;
    width:150px;
    text-align: center;
   
 }
.search{
    border:2px solid black;
    border-radius: 20px; 
}
 