.description{
    background-color: salmon;
    width:800px;
    height:800px;
    border:2px solid black;                        
    border-radius:20px;
    margin-left: 390px;
    margin-top:20px;
    
}